name: usage_stats
description: Query Android Usage Statistics (Configurations, Events, Usage)
version: 1.3.1
homepage: https://github.com/Parassharmaa/usage_stats

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: io.github.parassharmaa.usage_stats
        pluginClass: UsageStatsPlugin
